@model Lesson;
@{
    var lesson = @Model;
}

<div class="container">
    <h2>Create Lesson</h2>

    <form asp-route="CreateLessonApi" method="post">
        <input type="hidden" asp-for="CourseId" value="@lesson.CourseId">

        <div class="form-group">
            <label asp-for="@lesson.Name" class="control-label">Lesson Name:</label>
            <input asp-for="@lesson.Name" class="form-control" />
            
        </div>

        <div class="form-group">
            <label asp-for="@lesson.VideoUrl" class="control-label">Video URL:</label>
            <input asp-for="@lesson.VideoUrl" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="@lesson.Description" class="control-label">Description:</label>
            <textarea asp-for="@lesson.Description" class="form-control"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>