@model Feedback;

@using System.Security.Claims;

@{
    var feedback = Model;
    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
}

<style>
    .feedback-form {
        padding: 25px;
        border: 1px solid #d3d3d3;
        border-radius: 15px;
    }

    .error-div {
        color: red;
        font-size: 13px;
    }

    .hide {
        display: none;
    }

    .visible {
        display: block;
    }
</style>

<div class="change-page">
    <form name="change-form" class="feedback-form">
        <div class="form-text mb-3">
            <label asp-for="Text" class="mb-3 h5 text-dark">Feedback:</label>
            <textarea asp-for="Text" class="feedback-text form-control mb-1" rows="3">@feedback.Text</textarea>
            <span class="mt-2 d-block text-danger" asp-validation-for="Text"></span>
        </div>

        <div class="form-rating mb-4">
            <div class="rating-heading h5 mb-2">
                Rate course:
            </div>

             <div class="form-check form-check-inline">
                <input asp-for="Rating" class="form-check-input" type="radio" value="1">
                <label asp-for="Rating" class="form-check-label">1</label>
                <span class="mt-2 d-block text-danger" asp-validation-for="Rating"></span>
            </div>
            <div class="form-check form-check-inline">
                <input asp-for="Rating" class="form-check-input" type="radio" value="2">
                <label asp-for="Rating" class="form-check-label">2</label>
                <span class="mt-2 d-block text-danger" asp-validation-for="Rating"></span>
            </div>
            <div class="form-check form-check-inline">
                <input asp-for="Rating" class="form-check-input" type="radio" value="3">
                <label asp-for="Rating" class="form-check-label">3</label>
                <span class="mt-2 d-block text-danger" asp-validation-for="Rating"></span>
            </div>
            <div class="form-check form-check-inline">
                <input asp-for="Rating" class="form-check-input" type="radio" value="4">
                <label asp-for="Rating" class="form-check-label">4</label>
                <span class="mt-2 d-block text-danger" asp-validation-for="Rating"></span>
            </div>
            <div class="form-check form-check-inline">
                <input asp-for="Rating" class="form-check-input" type="radio" value="5">
                <label asp-for="Rating" class="form-check-label">5</label>
                <span class="mt-2 d-block text-danger" asp-validation-for="Rating"></span>
            </div>
        </div>

        <button type="submit" class="change-btn btn btn-dark px-4 btn-lg">Change</button>
    </form>
</div>

<script> 
    var button = document.querySelector('.change-btn')
    button.addEventListener('click', (e) => {
        e.preventDefault()
        PutFeedbackHandler()
    })

    function PutFeedbackHandler() {
        console.log('TEST')
        var feedback = GetFeedbackFromForm()

        if (feedback === null)
            return;
        
        fetch('/Feedback/' + @feedback.Id,
            {
                method: 'PUT',
                body: JSON.stringify(feedback),
                headers:
                {
                    'Content-type': 'application/json; charset=UTF-8' 
                }
            }
        )
        .then((response) => {
            if (!response.ok)
                throw new Error(response.statusText)

            RedirectToCourseDetailsPage(@feedback.CourseId)
        })
        .catch((err) => console.log(err.message));
    }

    function GetFeedbackFromForm() {
        var feedbackText = document.forms['change-form']['Text'].value

        var radiosArr = Array.from(document.forms['change-form']['Rating'])

        var checkedRadio = radiosArr.find((radio) => radio.checked)
        var feedbackRating = checkedRadio ? checkedRadio.value : null

        return {
            Id: @feedback.Id,
            UserId: '@userId',
            Text: feedbackText,
            Rating: feedbackRating,
            CourseId: @feedback.CourseId,
            CreationDate: new Date(@feedback.CreationDate.ToString("yyyy,MM-1,dd"))
        }
    }

    function RedirectToCourseDetailsPage(courseId) {
        window.location.assign('/Course/Details?id=' + courseId);
    }
</script>