@using LearnEase.Models;
@model IEnumerable<Feedback>

@{
    var feedbacks = Model;
}

<style>
    .feedback-form {
        padding: 25px;
        border: 1px solid #d3d3d3;
        border-radius: 15px;
    }

    .list-item {
        border: 1px solid #d3d3d3;
        border-radius: 15px;
        padding: 30px;
    }

    .item-text-info  {
        font-size: 19px;
    }

    .item-date {
        font-size: 16px;
        color: #303030;
    }

    .item-rating-info {
        font-size: 26px;
    }

    .item-functionality {
        font-size: 17px;
    }
</style>

<div class="feedbacks-page">
    <div class="feedbacks-list mb-5">
        @foreach (var feedback in feedbacks)
        {
            <div class="list-item mb-4" id="@feedback.Id" >
                <div class="info-wrapper d-flex justify-content-between align-items-center">
                    <div class="item-text-info">
                        <div class="item-username h4 mb-3">
                        @(feedback.Username)
                        </div>

                        <div class="item-text mb-4">
                            @(feedback.Text)
                        </div>

                        <div class="item-date mb-2">
                            @(feedback.CreationDate)
                        </div>
                    </div>

                    <div class="item-rating-info">
                        @(feedback.Rating ?? 0)/5
                    </div>
                </div>

                <div class="item-functionality">
                    <a href="/Feedback/Delete/@feedback.Id" class="text-danger">Delete</a> |
                    <a href="/Feedback/Edit/@feedback.Id" class="text-dark">Edit</a>
                </div>
            </div>
        }
    </div>

    <form class="feedback-form" action="/Feedback" method="post">

        <div class="form-group mb-4">
            <label class="mb-3 h5"  for="feedback-username">Username</label>
            <input type="text" class="form-control" id="feedback-username" placeholder="Your username" name="Username" required maxlength="100">
        </div>

        <div class="form-text mb-4">
            <label class="mb-3 h5 text-dark" for="feedback-textarea">Feedback:</label>
            <textarea class="form-control" id="feedback-textarea" rows="3" name="text" required maxlength="500"></textarea>
        </div>

        <div class="form-rating mb-4">
            <div class="rating-heading h5 mb-2">
                Rate course:
            </div>

             <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="Rating" id="rating1" value="1" name="Rating">
                <label class="form-check-label" for="rating1">1</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="Rating" id="rating2" value="2">
                <label class="form-check-label" for="rating2">2</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="Rating" id="rating3" value="3">
                <label class="form-check-label" for="rating3">3</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="Rating" id="rating4" value="4">
                <label class="form-check-label" for="rating4">4</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="Rating" id="rating5" value="5">
                <label class="form-check-label" for="rating5">5</label>
            </div>
        </div>

        <button class="change-btn btn btn-dark px-4">Add feedback</button>
    </form>
</div>


@* <script> 
    var feedbacksDiv = document.querySelector('.feedbacks');
    feedbacksDiv.addEventListener("click", FeedbackEventHandler)

    function DeleteFeedback(feedbackId) {
        return fetch('/Feedback/' + feedbackId, { method: 'DELETE' })
            .then((response) => {
                if (!response.ok)
                    throw new Error(response.statusText)

                console.log("Feedback was successfully deleted!")
            })
            .catch((err) => console.log(err.message));
    }

    async function FeedbackEventHandler(e) {
        var clickTarget = e.target;

        if (clickTarget.tagName === 'BUTTON') {
            var feedbackId = clickTarget.parentElement.parentElement.id;

            if (clickTarget.classList.contains("edit-btn")) {
            }

            else if (clickTarget.classList.contains("delete-btn")) {
                console.log(feedbackId)
                await DeleteFeedback(feedbackId)
            }
        }
    }
</script> *@
